@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pangolin&display=swap");
@-webkit-keyframes paper {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px);
  }
  100% {
    -webkit-transform: rotate(30deg) translate(0px, -240px);
            transform: rotate(30deg) translate(0px, -240px);
  }
}
@keyframes paper {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px);
  }
  100% {
    -webkit-transform: rotate(30deg) translate(0px, -240px);
            transform: rotate(30deg) translate(0px, -240px);
  }
}

@-webkit-keyframes foldTop {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  60% {
    background-color: #F9F4F0;
  }
  60% {
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: inset 0px 200px 20px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 200px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

@keyframes foldTop {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  60% {
    background-color: #F9F4F0;
  }
  60% {
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: inset 0px 200px 20px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 200px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

@-webkit-keyframes foldMiddle {
  60% {
    -webkit-box-shadow: inset 0px 200px 20px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 200px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
}

@keyframes foldMiddle {
  60% {
    -webkit-box-shadow: inset 0px 200px 20px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 200px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes foldBottom {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  40% {
    -webkit-box-shadow: inset 0px 50px 80px -20px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 50px 80px -20px rgba(0, 0, 0, 0.3);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes foldBottom {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  40% {
    -webkit-box-shadow: inset 0px 50px 80px -20px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 50px 80px -20px rgba(0, 0, 0, 0.3);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@-webkit-keyframes paperInside {
  0% {
    -webkit-transform: rotate(30deg) translate(40px, -240px);
            transform: rotate(30deg) translate(40px, -240px);
    z-index: 1;
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0px, -300px);
            transform: rotate(0deg) translate(0px, -300px);
  }
  64% {
    z-index: 1;
  }
  65% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    -webkit-transform: rotate(0deg) translate(0px, 8px) scaleX(0.9);
            transform: rotate(0deg) translate(0px, 8px) scaleX(0.9);
  }
}

@keyframes paperInside {
  0% {
    -webkit-transform: rotate(30deg) translate(40px, -240px);
            transform: rotate(30deg) translate(40px, -240px);
    z-index: 1;
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0px, -300px);
            transform: rotate(0deg) translate(0px, -300px);
  }
  64% {
    z-index: 1;
  }
  65% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    -webkit-transform: rotate(0deg) translate(0px, 8px) scaleX(0.9);
            transform: rotate(0deg) translate(0px, 8px) scaleX(0.9);
  }
}

@-webkit-keyframes paperBehind {
  100% {
    z-index: -1;
    display: none;
    opacity: 0;
  }
}

@keyframes paperBehind {
  100% {
    z-index: -1;
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes animeEnvelope {
  100% {
    -webkit-transform: rotate(0deg) translate(0px, 300px);
            transform: rotate(0deg) translate(0px, 300px);
  }
}

@keyframes animeEnvelope {
  100% {
    -webkit-transform: rotate(0deg) translate(0px, 300px);
            transform: rotate(0deg) translate(0px, 300px);
  }
}

@-webkit-keyframes animeEnvelope2 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 300px);
            transform: rotate(0deg) translate(0px, 300px);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0px, 150px);
            transform: rotate(0deg) translate(0px, 150px);
  }
}

@keyframes animeEnvelope2 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 300px);
            transform: rotate(0deg) translate(0px, 300px);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0px, 150px);
            transform: rotate(0deg) translate(0px, 150px);
  }
}

@-webkit-keyframes envelopeWrapper {
  100% {
    -webkit-transform: rotate(0deg) translate(0px, 150px);
            transform: rotate(0deg) translate(0px, 150px);
  }
}

@keyframes envelopeWrapper {
  100% {
    -webkit-transform: rotate(0deg) translate(0px, 150px);
            transform: rotate(0deg) translate(0px, 150px);
  }
}

@-webkit-keyframes envelopeWrapper2 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 150px);
            transform: rotate(0deg) translate(0px, 150px);
  }
  30% {
    -webkit-transform: rotate(-60deg) translate(200px, 20px) scaleX(0.8);
            transform: rotate(-60deg) translate(200px, 20px) scaleX(0.8);
  }
  100% {
    overflow: hidden;
    -webkit-transform: rotate(-90deg) translate(54px, -20px) scaleX(0.8) scaleY(1.2);
            transform: rotate(-90deg) translate(54px, -20px) scaleX(0.8) scaleY(1.2);
  }
}

@keyframes envelopeWrapper2 {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 150px);
            transform: rotate(0deg) translate(0px, 150px);
  }
  30% {
    -webkit-transform: rotate(-60deg) translate(200px, 20px) scaleX(0.8);
            transform: rotate(-60deg) translate(200px, 20px) scaleX(0.8);
  }
  100% {
    overflow: hidden;
    -webkit-transform: rotate(-90deg) translate(54px, -20px) scaleX(0.8) scaleY(1.2);
            transform: rotate(-90deg) translate(54px, -20px) scaleX(0.8) scaleY(1.2);
  }
}

@-webkit-keyframes envelopeEnter {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 150px);
            transform: rotate(0deg) translate(0px, 150px);
  }
  100% {
    -webkit-box-shadow: inset 0px 400px 10px black;
            box-shadow: inset 0px 400px 10px black;
    -webkit-transform: rotate(0deg) translate(-430px, 150px);
            transform: rotate(0deg) translate(-430px, 150px);
  }
}

@keyframes envelopeEnter {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 150px);
            transform: rotate(0deg) translate(0px, 150px);
  }
  100% {
    -webkit-box-shadow: inset 0px 400px 10px black;
            box-shadow: inset 0px 400px 10px black;
    -webkit-transform: rotate(0deg) translate(-430px, 150px);
            transform: rotate(0deg) translate(-430px, 150px);
  }
}

@-webkit-keyframes envelopeShadow {
  0% {
    z-index: 6;
    -webkit-box-shadow: inset 10px 0px 20px -10px rgba(0, 0, 0, 0.2);
            box-shadow: inset 10px 0px 20px -10px rgba(0, 0, 0, 0.2);
  }
  80% {
    z-index: 6;
    -webkit-box-shadow: inset 400px 0px 20px -10px rgba(0, 0, 0, 0.2);
            box-shadow: inset 400px 0px 20px -10px rgba(0, 0, 0, 0.2);
  }
}

@keyframes envelopeShadow {
  0% {
    z-index: 6;
    -webkit-box-shadow: inset 10px 0px 20px -10px rgba(0, 0, 0, 0.2);
            box-shadow: inset 10px 0px 20px -10px rgba(0, 0, 0, 0.2);
  }
  80% {
    z-index: 6;
    -webkit-box-shadow: inset 400px 0px 20px -10px rgba(0, 0, 0, 0.2);
            box-shadow: inset 400px 0px 20px -10px rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes openEnvelope {
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    z-index: -1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes openEnvelope {
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    z-index: -1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes closeEnvelope {
  100% {
    z-index: 4;
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  50% {
    z-index: 4;
  }
  0% {
    z-index: -1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes closeEnvelope {
  100% {
    z-index: 4;
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  50% {
    z-index: 4;
  }
  0% {
    z-index: -1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes envelopeBackHide {
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes envelopeBackHide {
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes mailboxMove {
  50% {
    -webkit-transform: translate(0, 30vh) rotate(20deg);
            transform: translate(0, 30vh) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(-20px, 0px) rotate(0deg);
            transform: translate(-20px, 0px) rotate(0deg);
  }
}

@keyframes mailboxMove {
  50% {
    -webkit-transform: translate(0, 30vh) rotate(20deg);
            transform: translate(0, 30vh) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(-20px, 0px) rotate(0deg);
            transform: translate(-20px, 0px) rotate(0deg);
  }
}

@-webkit-keyframes mailboxBack {
  0% {
    -webkit-transform: translate(-20px, 0px) rotate(0deg);
            transform: translate(-20px, 0px) rotate(0deg);
  }
}

@keyframes mailboxBack {
  0% {
    -webkit-transform: translate(-20px, 0px) rotate(0deg);
            transform: translate(-20px, 0px) rotate(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(130deg, #3A3A3A 10%, #606060 90%);
}

.menu {
  width: 100%;
  height: 60px;
  position: fixed;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 4;
  position: absolute;
}

@media screen and (max-width: 511px) {
  .menu {
    height: 50px;
    padding: 0 30px;
  }
}

.menu__logo {
  width: 100px;
}

.menu__infoIcon {
  width: 30px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.menu__infoIcon:hover {
  opacity: 1;
}

.menu__infoText {
  position: absolute;
  width: 300px;
  right: 45px;
  padding: 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  -webkit-transition: all 0.5s cubic-bezier(0.88, 0.04, 0, 1.15);
  transition: all 0.5s cubic-bezier(0.88, 0.04, 0, 1.15);
  border-radius: 10px;
  -webkit-transform: translate(15px, 40px);
          transform: translate(15px, 40px);
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  line-height: 26px;
  color: #666;
  -webkit-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 511px) {
  .menu__infoText {
    right: 35px;
  }
}

@media screen and (max-width: 340px) {
  .menu__infoText {
    width: 280px;
  }
}

.menu__infoText:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: white;
  -webkit-transition: all 0.5s cubic-bezier(0.88, 0.04, 0, 1.15);
  transition: all 0.5s cubic-bezier(0.88, 0.04, 0, 1.15);
  -webkit-transform: rotate(45deg) translateY(20px);
          transform: rotate(45deg) translateY(20px);
  opacity: 0;
}

.menu__info:hover .menu__infoText {
  -webkit-transform: translate(15px, 20px);
          transform: translate(15px, 20px);
  opacity: 1;
  visibility: visible;
}

.menu__info:hover .menu__infoText:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
  top: -5px;
}

footer {
  height: 60px;
  position: fixed;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 500;
  opacity: 0.15;
  color: white;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 511px) {
  footer {
    display: none;
  }
}

@media screen and (max-height: 650px) {
  footer {
    display: none;
  }
}

footer img {
  width: 20px;
  margin-right: 15px;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer:hover {
  opacity: 0.4;
}

footer:hover img {
  opacity: 1;
}

.btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#FF9B50), to(#EC7820));
  background: linear-gradient(90deg, #FF9B50, #EC7820);
  border-radius: 5px;
  height: 40px;
  padding: 0 30px;
  color: white;
  -webkit-box-shadow: 0px 10px 25px -5px rgba(246, 138, 57, 0.6);
          box-shadow: 0px 10px 25px -5px rgba(246, 138, 57, 0.6);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 4;
}

.btn:hover {
  -webkit-box-shadow: 0px 5px 15px -5px rgba(246, 138, 57, 0.6);
          box-shadow: 0px 5px 15px -5px rgba(246, 138, 57, 0.6);
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.btn.send {
  bottom: 40px;
  position: absolute;
}

main {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

@media screen and (max-height: 650px) {
  main {
    min-height: 560px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 560px;
  min-height: 560px;
  width: 100%;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media screen and (max-width: 340px) {
  .wrapper {
    margin-top: 60px;
    height: 560px;
  }
}

@media screen and (max-height: 650px) {
  .wrapper {
    margin-top: 60px;
  }
}

.paper {
  position: relative;
  margin: 0 auto;
  -webkit-perspective: 1800px;
          perspective: 1800px;
  width: 400px;
  z-index: 1;
}

.paper:before, .paper:after {
  content: '';
  width: calc(100% - 10px);
  height: 450px;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
  top: 10px;
  left: 10px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.paper:after {
  width: 100%;
  top: 0px;
  left: 0px;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0.2;
  z-index: -3;
}

@media screen and (max-width: 511px) {
  .paper {
    min-width: 280px;
    max-width: 320px;
    width: calc(100% - 40px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 150px;
  }
}

.paper__top, .paper__middle, .paper__bottom {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #F9F4F0;
  background-image: linear-gradient(90deg, transparent 58px, #FF6666 58px, #FF6666 60px, transparent 60px), linear-gradient(90deg, transparent 380px, #FF6666 380px, #FF6666 382px, transparent 382px), linear-gradient(#C8CEEE 1px, transparent 1px);
  background-size: 100% 25px;
  position: relative;
  -webkit-box-shadow: inset 0px -40px 40px -10px rgba(0, 0, 0, 0.1), inset 0px -10px 10px rgba(255, 255, 255, 0.3), inset 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px -40px 40px -10px rgba(0, 0, 0, 0.1), inset 0px -10px 10px rgba(255, 255, 255, 0.3), inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 511px) {
  .paper__top, .paper__middle, .paper__bottom {
    background-image: linear-gradient(90deg, transparent 38px, #FF6666 38px, #FF6666 40px, transparent 40px), linear-gradient(90deg, transparent calc(100% - 20px), #FF6666 calc(100% - 20px), #FF6666 calc(100% - 18px), transparent calc(100% - 18px)), linear-gradient(#C8CEEE 1px, transparent 1px);
  }
}

.paper__top {
  z-index: 1;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  border-radius: 3px 3px 0 0;
}

.paper__bottom {
  z-index: 2;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  border-radius: 0 0 3px 3px;
}

.paper__form {
  position: absolute;
  top: 0;
  z-index: 3;
  left: 60px;
  top: 0;
  width: 320px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media screen and (max-width: 511px) {
  .paper__form {
    width: calc(100% - 60px);
    left: 40px;
  }
}

.paper__formName, .paper__formTitle {
  position: absolute;
  font-family: "Pangolin", cursive;
  font-size: 16px;
  color: #F68A39;
  letter-spacing: 0.8px;
  padding-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 511px) {
  .paper__formName, .paper__formTitle {
    padding-left: 10px;
  }
}

.paper__formName {
  top: 32px;
}

.paper__formTitle {
  top: 82px;
  width: 100%;
}

.paper__formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 428px;
}

.paper__formContainer input,
.paper__formContainer textarea {
  border: 0;
  background: transparent;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pangolin", cursive;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 25px;
  color: #38558F;
}

.paper__formContainer input:focus,
.paper__formContainer textarea:focus {
  outline: 0;
}

.paper__formContainer input::-moz-selection,
.paper__formContainer textarea::-moz-selection {
  background: #F68A39;
  color: white;
}

.paper__formContainer input::selection,
.paper__formContainer textarea::selection {
  background: #F68A39;
  color: white;
}

.paper__formContainer input {
  top: 26px;
  padding: 0px 10px 0 68px;
  height: 32px;
}

.paper__formContainer textarea {
  top: 100px;
  padding: 5px 10px 0 10px;
  height: 300px;
  resize: none;
}

.paper__formError {
  position: absolute;
  opacity: 0;
  bottom: -2px;
  font-family: "Pangolin", cursive;
  padding-left: 10px;
  font-size: 14px;
  color: #FF6666;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.paper__formError.showError {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.envelopeContainer {
  position: absolute;
  width: 400px;
  height: 160px;
}

@media screen and (max-width: 511px) {
  .envelopeContainer {
    -webkit-transform: scaleX(0.85);
            transform: scaleX(0.85);
  }
}

.envelopeContainer .wrapperEnvelope {
  position: absolute;
  width: 100%;
  height: 100%;
}

.envelope {
  width: 400px;
  height: 160px;
  position: absolute;
  -webkit-box-shadow: -10px 10px 18px -8px rgba(0, 0, 0, 0.4);
          box-shadow: -10px 10px 18px -8px rgba(0, 0, 0, 0.4);
  -webkit-perspective: 1800px;
          perspective: 1800px;
  -webkit-transform: rotate(-30deg) translate(-200px, 100px);
          transform: rotate(-30deg) translate(-200px, 100px);
  top: -150px;
}

@media screen and (max-width: 340px) {
  .envelope {
    -webkit-transform: rotate(-30deg) translate(-200px, 140px);
            transform: rotate(-30deg) translate(-200px, 140px);
  }
}

.envelope:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
}

.envelope__top {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  top: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 108px solid;
  border-bottom-color: #e8e8e8;
  z-index: 1;
  top: -108px;
  -webkit-box-shadow: 0px 4px 10px -10px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 4px 10px -10px rgba(0, 0, 0, 0.6);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  border-bottom-color: #c2c2c2;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.envelope__top:before {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  left: -200px;
  top: -100px;
  border: 0 solid transparent;
  border-width: 104px 200px;
  border-bottom-color: #e8e8e8;
}

.envelope__bottom {
  position: absolute;
  bottom: 0;
  border: 0 solid transparent;
  border-width: 80px 200px;
  border-left-color: #e8e8e8;
  border-right-color: #e8e8e8;
  border-bottom-color: #d9d9d9;
}

.envelope__bottom:before {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  left: -200px;
  bottom: -80px;
  border: 0 solid transparent;
  border-width: 77px 200px;
  border-bottom-color: #e8e8e8;
}

.envelopeBack {
  width: 400px;
  height: 160px;
  position: absolute;
  background-color: #dedede;
  -webkit-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
  z-index: -2;
  opacity: 0;
  -webkit-transition: all 0s 1.55s ease;
  transition: all 0s 1.55s ease;
  -webkit-box-shadow: inset 0px -140px 50px -30px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px -140px 50px -30px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 511px) {
  .envelopeBack {
    -webkit-transform: scaleX(0.85) translate(0px, 150px);
            transform: scaleX(0.85) translate(0px, 150px);
  }
}

.wrapperMailbox {
  width: 100%;
  height: calc(100vh - 60px);
  min-height: 560px;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media screen and (max-width: 340px) {
  .wrapperMailbox {
    margin-top: 60px;
  }
}

@media screen and (max-height: 650px) {
  .wrapperMailbox {
    margin-top: 60px;
  }
}

.wrapperMailbox .mailboxContent {
  width: 100%;
  height: 560px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperMailbox .mailboxContent .mailbox {
  width: 280px;
  height: 300px;
  background-color: #F68A39;
  position: absolute;
  border-radius: 1px 1px 1px 2px;
  z-index: -4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(45vw, 45vh) rotate(20deg);
          transform: translate(45vw, 45vh) rotate(20deg);
}

@media screen and (max-width: 511px) {
  .wrapperMailbox .mailboxContent .mailbox {
    -webkit-transform: translate(50vw, 50vh) rotate(20deg);
            transform: translate(50vw, 50vh) rotate(20deg);
  }
}

.wrapperMailbox .mailboxContent .mailbox:before, .wrapperMailbox .mailboxContent .mailbox:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
}

.wrapperMailbox .mailboxContent .mailbox:before {
  height: 30px;
  background-color: #C56117;
  -webkit-transform: skewX(-55deg);
          transform: skewX(-55deg);
  top: -30px;
  left: 21px;
}

.wrapperMailbox .mailboxContent .mailbox:after {
  width: 43px;
  background-color: #D67329;
  right: -42px;
  top: -15px;
  -webkit-transform: skewY(-50deg);
  transform: skewY(-35deg);
}

.wrapperMailbox .mailboxContent .mailbox__front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.wrapperMailbox .mailboxContent .mailbox__front:before {
  content: '';
  position: absolute;
  width: 230px;
  height: 30px;
  top: 16px;
  background: #BE6624;
  -webkit-box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.4), 0px 2px 3px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.4), 0px 2px 3px rgba(255, 255, 255, 0.5);
  z-index: -1;
  border-radius: 4px;
}

.wrapperMailbox .mailboxContent .mailbox__title, .wrapperMailbox .mailboxContent .mailbox__number {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.wrapperMailbox .mailboxContent .mailbox__title {
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperMailbox .mailboxContent .mailbox__title:before, .wrapperMailbox .mailboxContent .mailbox__title:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
  border-radius: 6px;
}

.wrapperMailbox .mailboxContent .mailbox__title:after {
  background: transparent;
  border: solid 1px white;
  width: calc(200px - 9px);
  height: calc(50px - 8px);
  border-radius: 4px;
  left: -31px;
  top: -10px;
}

.wrapperMailbox .mailboxContent .mailbox__number {
  position: absolute;
  bottom: 70px;
  font-size: 24px;
}

.wrapperMailbox .mailboxContent .mailbox__logo {
  position: absolute;
  width: 32px;
  bottom: 25px;
  right: 25px;
  opacity: 0.2;
}

.reload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
}

.reload__text {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  padding: 0 60px;
  max-width: 500px;
}

@media screen and (max-width: 511px) {
  .reload__text {
    font-size: 20px;
    line-height: 28px;
    padding: 0 40px;
  }
}

.easterEgg {
  font-size: 100px;
  color: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.easterEgg img {
  z-index: 8;
  -webkit-animation: easterEgg 1s ease both;
          animation: easterEgg 1s ease both;
}

@-webkit-keyframes easterEgg {
  0% {
    width: 20%;
    opacity: 1;
  }
  80% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes easterEgg {
  0% {
    width: 20%;
    opacity: 1;
  }
  80% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.animeAll .paper {
  -webkit-animation: paper 0.6s 1s ease both, paperInside 0.5s 2s ease forwards, paperBehind 0s 2.7s ease forwards;
          animation: paper 0.6s 1s ease both, paperInside 0.5s 2s ease forwards, paperBehind 0s 2.7s ease forwards;
}

.animeAll .paper:before, .animeAll .paper:after {
  opacity: 0;
}

.animeAll .paper__top {
  -webkit-animation: foldTop 1s ease forwards;
          animation: foldTop 1s ease forwards;
}

.animeAll .paper__middle {
  -webkit-animation: foldMiddle 1s ease forwards;
          animation: foldMiddle 1s ease forwards;
}

.animeAll .paper__bottom {
  -webkit-animation: foldBottom 1s 0.3s ease forwards;
          animation: foldBottom 1s 0.3s ease forwards;
}

.animeAll .paper__form {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.animeAll .wrapperEnvelope {
  -webkit-animation: envelopeWrapper 0.6s 3s ease forwards, envelopeWrapper2 1s 3.4s ease forwards;
          animation: envelopeWrapper 0.6s 3s ease forwards, envelopeWrapper2 1s 3.4s ease forwards;
}

.animeAll .wrapperEnvelope.overflow {
  overflow: hidden;
}

.animeAll .envelope {
  -webkit-animation: animeEnvelope 0.6s 1s ease both, animeEnvelope2 0.6s 3s ease forwards, envelopeEnter 0.6s 4.4s ease forwards;
          animation: animeEnvelope 0.6s 1s ease both, animeEnvelope2 0.6s 3s ease forwards, envelopeEnter 0.6s 4.4s ease forwards;
}

.animeAll .envelope:before {
  -webkit-animation: envelopeShadow 0.6s 4.4s ease forwards;
          animation: envelopeShadow 0.6s 4.4s ease forwards;
}

.animeAll .envelope__top {
  -webkit-animation: openEnvelope 0.6s 1.5s ease both, closeEnvelope 0.6s 2.45s ease forwards;
          animation: openEnvelope 0.6s 1.5s ease both, closeEnvelope 0.6s 2.45s ease forwards;
}

.animeAll .envelopeBack {
  opacity: 1;
  -webkit-animation: envelopeBackHide 0.2s 2.7s ease forwards;
          animation: envelopeBackHide 0.2s 2.7s ease forwards;
}

.animeAll .send {
  display: none;
}

.animeMailbox .mailboxContent .mailbox {
  -webkit-animation: mailboxMove 1s 2.8s ease forwards, mailboxBack 1s 5.4s ease forwards;
          animation: mailboxMove 1s 2.8s ease forwards, mailboxBack 1s 5.4s ease forwards;
}

.animeReload {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/*# sourceMappingURL=main.css.map */